<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/cards.css') }}"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/stamps.css') }}"
    /> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <div class="container conbg" id="conbg">
      <div class="bg2" id="bg2">
        <div class="bg1" id="bg1">
          <div class="bg" id="bg">
            <div class="bg-text text-light ps-3">
              <h3>Selamat datang di<br />PutihNET Official</h3>
              <p>
                Desain Login Page Hotspot<br />
                Desain Voucher Wifi<br />
                Bisnis Voucher
              </p>
              <a class="text-light" href="#bg1"
                ><svg
                  id="first-path"
                  viewBox="0 0 448 512"
                  width="30"
                  fill="#fff"
                  title="angle-double-right"
                >
                  <path
                    id="first-path"
                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                  /></svg
              ></a>
            </div>
          </div>
          <div class="bg-text text-light ps-3">
            <h3>Selamat datang di<br />PutihNET Official</h3>
            <p>
              Desain Login Page Hotspot<br />
              Desain Voucher Wifi<br />
              Bisnis Voucher
            </p>
            <a class="text-light" href="#bg2"
              ><svg
                viewBox="0 0 448 512"
                width="30"
                fill="#fff"
                title="angle-double-right"
                id="second-path"
              >
                <path
                  id="second-path"
                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                /></svg
            ></a>
          </div>
        </div>
        <div class="bg-text text-light ps-3">
          <h3>Selamat datang di<br />PutihNET Official</h3>
          <p>
            Desain Login Page Hotspot<br />
            Desain Voucher Wifi<br />
            Bisnis Voucher
          </p>
          <a class="text-light" href="#conbg"
            ><svg
              viewBox="0 0 448 512"
              width="30"
              fill="#fff"
              title="angle-double-right"
              id="last-path"
            >
              <path
                id="last-path"
                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
              /></svg
          ></a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      window.onclick = (e) => {
        
        if (e.target.id == "first-path") {
          ajaxRequestRandom("#bg");
        } else if (e.target.id == "last-path") {
          ajaxRequestRandom("#bg2");
        } else if (e.target.id == "second-path") {
          ajaxRequestRandom("#bg1");
        }
        
      };

      var ajaxRequestRandom = (bgidx) => {
        $.ajax({
          // Our sample url to make request
          url: "/next-meta",

          // Type of Request
          type: "GET",

          // Function to call when to
          // request is ok
          success: function (data) {
            
            image_url = `https://drive.google.com/uc?export=view&id=${data.src}`
            console.log(image_url)
            $(bgidx).css("background-image", `url(${image_url})`)
          },

          // Error handling
          error: function (error) {
            console.log(`Error ${error}`);
          },
        });
      };
    </script>
  </body>
</html>
